.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: absolute;
  z-index: 1;
  color: var(--secondary-color);
  animation: opc 2s;
  margin: 0;
}

.nextIcon{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF8D2'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>")
}

@keyframes opc {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
