.bgNav {
  background-color: black;
}
.colorLink{
  color: #ff8dc1 !important;
}
.colorLink:hover{
  color: #c95589 !important;
}
.buttonStyle {
  background: none;
  border: 0;
  color: #fff;
  font: inherit;
  font-size: 100%;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
.buttonStyle:hover {
  color: #fff;
}