.bgNav {
  background-color: black;
}
.colorLink{
  color: #edc871 !important;
}
.colorLink:hover{
  color: #cdab58 !important;
}
.buttonStyle {
  background: none;
  border-style: none;
  color: #edc871 !important;
  font: inherit;
  font-size: 100%;
  line-height: normal;
  overflow: visible;
  padding-top: 11px;
}
.buttonStyle:hover {
  color: #cdab58 !important;
}
.buttonStyleGet{
  color: #fff !important;
  background-color: #edc871;
  font-size: 15px;
  border: 2px solid #cdab58;
  padding: 5px 12px;
}
.buttonStyleGet:hover {
  background-color: #cdab58;
  border: 2px solid #edc871;
}