.text{
  text-align: justify;
  color: var(--secondary-color);
}
.title{
  color: var(--secondary-color);
}
.condition{
  color: var(--secondary-color);
  transition: .3s;
}
.condition:hover{
  color: var(--primary-color);
}
.icon{
  color: var(--secondary-color);
  font-size: 30px;
  align-items: center;
  transition: .3s;
}
.icon:hover{
  color: var(--primary-color);
}
