.icon{
  color: #cdab58;
  font-size: 20px;
  border-radius: 5px;
  border-color: #edc871;
}
.placeholder{
  background-color: #282828;
  border-radius: 5px;
  border-color: #cccccc;
}
.placeholder:focus, .placeholder:active{
  background-color: #282828;
  border-radius: 5px;
  border-color: #cccccc;
  box-shadow: none;
}
.button{
  background-color: #cdab58;
  border-radius: 5px;
  border-color: #edc871;
}
.button:hover{
  background-color: #b89640;
  border-radius: 5px;
  border-color: #edc871;
}
