.icon{
  color: var(--primary-color);
  font-size: 20px;
  border-radius: 5px;
  border-color: var(--primary-color);
}
.placeholder{
  background-color: #282828;
  border-radius: 5px;
  border-color: #cccccc;
}
.placeholder:focus, .placeholder:active{
  background-color: #282828;
  border-radius: 5px;
  border-color: #cccccc;
  box-shadow: none;
}
.button{
  background-color: var(--primary-color);
  border-radius: 5px;
  border-color: var(--primary-color);
}
.button:hover{
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-color: var(--secondary-color);
}
