.bgInfoSubs {
  background-color: var(--bg-color);
}
.colorLink{
  color: var(--secondary-color);
  text-decoration: none;
}
.colorLink:hover{
  color: var(--primary-color);
}
.colorLink:focus{
  color: var(--primary-color);
}
.simbol {
  width: 1px;
  height: 30px;
  background-color: var(--secondary-color);
}
