.infoSectionContainer {
  background-color: black;
}
.box {
  height: 100px;
}
.iconColor {
  color: var(--secondary-color);
  cursor: pointer;
}
.infoText {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}
.infoText:hover {
  color: var(--primary-color);
}

