.infoSectionContainer {
background-color: black;
}
.box {
  height: 100px;
}
.iconColor {
  color: var(--secondary-color);
}
.infoText {
  color: var(--secondary-color);
}
.infoText:hover {
  color: var(--primary-color);
}

